 <!--Content inside about.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  <link rel="stylesheet" href="./public/Content/app.css"/>

  <h4>Name: </h4> <p><strong>Camila Andrea Nieto Moya</strong></p>
   <img src="./Assets/images/me.jpeg" alt="Camila" width="300" >
<ul><br></ul>
  <p>To whom it may concern,</p>

  <p>To whom it may concern,
First, I will start to introduce myself. I am Camila Nieto. I am 17 years old. I am studying at Centennial College, and I enrolled in the program Software Engineering Technician (nowadays I am in Third Semester). 
I am from Colombia, and right now I am living in the same country. I am bilingual, I already speak with fluency English and Spanish.</p>

  <p>Apart from it, I consider myself as:</p>

  <ul>
  <li>Responsible</li>
  <li>Creative</li>
  <li>Determine when I want something</li>
  <li>Honest</li>
  <li>Patient</li>
  <li>Proactive</li>
  <li>A person with the capacity to work under pressure</li>
  <li>Capacity to work in group</li>
  </ul>
  <p>Thanks,</p>
  <p>Camila Nieto</p>
  <br>
 <br>

  </div>