 <!--Content inside about.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  <p>Welcome to the <%= title %> page</p>

  <h5>Name: </h5> <p>Camila Andrea Nieto Moya</p>
   <img src="./Assets/images/me.jpeg" alt="Camila" width="300" >

  <p>To whom it may concern,</p>

  <p>First, I will start to introduce myself. I am Camila Nieto. I am 17 years old. Right now, I am studying at Centennial College, and I enrolled in the program Software Engineering Technician (nowadays I am at Third Semester). 
  I am from Colombia, and right now I am living in the same country. I am bilingual, I already speak with fluency English and Spanish. </p>

  <p>Apart from it, I consider myself as:</p>

  <ul>
  <li>Responsible</li>
  <li>Creative</li>
  <li>Determine when I want something</li>
  <li>Honest</li>
  <li>Pacient</li>
  <li>Proactive</li>
  <li>A person with the capacity to work under pressure</li>
  <li>Capacity to work in group</li>
  <li>..</li>
  </ul>

  <p></p>
  <hr>

  </ul>
  </div>