 <!--Content inside contact.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  <p>Welcome to the <%= title %> page</p>
  <p>If you want to know more information about these webpages, feel free to email me at:
  </p>
  <a href="mailto:cnietomo@my.centennialcollege.ca">Camila Nieto</a>
  </div>