 <!--Content inside home.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
 <link rel="stylesheet" href="./public/Content/app.css"/>
  
  <p>The following website is about some projects that I made some months ago, and I want to share those files with you. I hope that you enjoy this journey. Welcome!</p>

   <a class="btn btn-primary" href="/about" role="button">About me</a>
   <a class="btn btn-primary" href="/projects" role="button">Projects</a>
   <a class="btn btn-primary" href="/services" role="button">Services</a>
   <a class="btn btn-primary" href="/contact" role="button">Contact me</a>
   
<hr>
<h3>Mission Statement</h3>
   <p>My mission is to bring you my portfolio, which you can find some projects made with passion and dedication.  Also, if you are interested in getting into the programming world, you can freely take a  look at it. </p>

  <div><img src="./Assets/images/programming.jpeg" alt="Coding" class="home"> </div>
<br>
  <br>
  <br>
  </div>
  