 <!--Content inside home.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  
  <p>The following website it's about some projects that I made some months ago, and I want to share those files wit you. I hope that you enjoy this journey. Welcome!</p>


   <a class="nav-link" href="/about"> About me</a>

   <a class="nav-link" href="/contact"> Contact me</a>

   <a class="nav-link" href="/projects"> Projects</a>

   <a class="nav-link" href="/services"> Services</a>

<h3>Mission Statement</h3>
   <p>My mission is to persuade people who have the spirit and the rigth attitutude to enter on the programming world. As result, I will help them to learn and practice all that's neccessary to be hired on the future.</p>
  </div>