 <!--Content inside projects.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  
<ul>
  <li><h3><a  href="./JS projects/Assignment 4/assignment4.html">Project 1-Forms</a></h3></li>
  <img src="./Assets/images/forms.png" alt="Forms" width="1100" >
   <h5>Here, you will learn how to create a responsive form with help of JavaScript</p>

  <li><h3><a href="./JS projects/Assignment 1 - Camila Nieto - 301175110/assignment1.1.html">Project 2-BMR Calculator</a></h3></li>
  <img src="./Assets/images/bmr.png" alt="BMR Calculator" width="1100" >
  <h5>You will understand a basic introduction of JavaScript which will include basic topics like: functions, addEventListeners(), and how to create variables</p>

  <li><h3><a  href="./JS projects/Assignment 6_Camila Nieto/index.html">Project 3-Photo Gallery</a></h3></li>
  <img src="./Assets/images/gallery.png" alt="Photo Gallery" width="1100" >
   <h5>Here, you will start to use .txt documents that will be translated into JavaScript and you will use more advance concepts like XHR, amd JSON files</p>
  </ul>
  <h5>...</p>
  </div>