 <!--Content inside projects.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  <link rel="stylesheet" href="./public/Content/app.css"/>
<ul>
  <li><h3><a  href="./JS projects/Assignment 4/assignment4.html">Project 1-Forms</a></h3></li>
  <div><img src="./Assets/images/forms.png" alt="Forms" class="images"></div>
   <h5>It is an example of a responsive form created with  JavaScript. </p>
<br>
  <li><h3><a href="./JS projects/Assignment 1 - Camila Nieto - 301175110/assignment1.1.html">Project 2-BMR Calculator</a></h3></li>
  <div><img src="./Assets/images/bmr.png" alt="BMR Calculator" class="images" ></div>
  <h5>Here I used basic JavaScript topics like functions, addEventListeners(), and creation of variables.</p>
<br>
  <li><h3><a  href="./JS projects/Assignment 6_Camila Nieto/index.html">Project 3-Photo Gallery</a></h3></li>
  <div><img src="./Assets/images/gallery.png" alt="Photo Gallery" class="images" ></div>
   <h5>Finally, in this project, I started to use .txt documents which were useful in the JavaScript implementation. I used more advanced concepts like XHR, and JSON files too.</p>
  <br>
  </ul>
  <h5>...</p>
  </div>