 <!--Content inside services.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  
  <p>The services that I'm 	willing to offer are mainly about:  </p>
  <ul>
    <li><h5>Web Interface Design(HTML5, CSS) and JavaScript</h5></li>
      <div align="center"><img src="./Assets/images/mix.png" alt="mix" width="350" ></div>
        <li><h5>DB (DataBase)</h5></li>
        <div align="center"><img src="./Assets/images/db.png" alt="DB" width="200" ></div>
        <li><h5>C#</h5></li>
        <div align="center"><img src="./Assets/images/c.png" alt="c#" width="200" ></div>
</ul>
  
  </div>