 <!--Content inside services.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
 <link rel="stylesheet" href="../../public/Content/app.css"/>
  
  <p>The tools and languages that I currently use are:</p>
  <ul>
    <li><h5>Web Interface Design(HTML5, CSS) and JavaScript</h5></li>
      <div ><img src="./Assets/images/mix.png" alt="mix" class="services" ></div>
        <li><h5>MongoDB and SQL (DataBase)</h5></li>
        <div><img src="./Assets/images/db.png" alt="DB mix" class="services"></div>
        <li><h5>C#</h5></li>
        <div><img src="./Assets/images/c.png" alt="c#" class="services"></div>
        <li><h5>Java</h5></li>
        <div><img src="./Assets/images/java.png" alt="Java" class="services"></div>
        <li><h5>Bootstrap</h5></li>
        <div><img src="./Assets/images/bootstrap.png" alt="Bootstrap" class="services"></div>
        <li><h5>Node.js</h5></li>
        <div><img src="./Assets/images/node-js.png" alt="Node.js" class="services"></div>
        <li><h5>Git and GitHub</h5></li>
        <div><img src="./Assets/images/git-and-github.jpg" alt="Git and GitHub" class="services" ></div>
</ul>
  <br>
  <br>
  <br>
  </div>