 <!--Content inside services.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
 <link rel="stylesheet" href="../../public/Content/app.css"/>
  
  <h5>The tools and languages that I currently use are:</h5>
  <ul>
    <li><h4>Web Interface Design(HTML5, CSS3) and JavaScript</h4></li>
      <div ><img src="./Assets/images/mix.png" alt="mix" class="services" ></div>
        <li><h4>MongoDB and SQL (DataBase)</h4></li>
        <div><img src="./Assets/images/mongodb.png" alt="MongoDB" class="services"></div>
         <div><img src="./Assets/images/sql.png" alt="SQL" class="services"></div>
        <li><h4>C#</h4></li>
        <div><img src="./Assets/images/c.png" alt="c#" class="services"></div>
        <li><h4>Java</h4></li>
        <div><img src="./Assets/images/java.png" alt="Java" class="services"></div>
        <li><h4>Bootstrap</h4></li>
        <div><img src="./Assets/images/bootstrap.png" alt="Bootstrap" class="services"></div>
        <li><h4>Node.js</h4></li>
        <div><img src="./Assets/images/node-js.png" alt="Node.js" class="services"></div>
        <li><h4>Git and GitHub</h4></li>
        <div><img src="./Assets/images/git-and-github.jpg" alt="Git and GitHub" class="services" ></div>
</ul>
  <br>
  <br>
  <br>
  </div>