 <!--Content inside services.ejs-->
 <div class="container">
 <h1><%= title %> </h1>
  
  <p>The services that I'm 	willing to offer are mainly about:  </p>
  <ul>
    <li>Web Interface Design(HTML5, CSS) and JavaScript</li>
      <img src="./Assets/images/mix.png" alt="mix" width="300" >
        <li>DB</li>
        <img src="./Assets/images/db.png" alt="DB" width="150" >
        <li>C#</li>
        <img src="./Assets/images/c.png" alt="c#" width="150" >
</ul>
  
  </div>