<!--COMP 229-005 Assignment 1-->
<!--Author: Camila Nieto-->
<!--ID: 301175110-->

<!--By using bootstrap, it's added the Fixed Bottom-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Copyright &copy;2022 -  Camila Nieto</a>
  </div>
</nav>
