<!--COMP 229-005 Assignment 1-->
<!--Author: Camila Nieto-->
<!--ID: 301175110-->

 <!--By using bootstrap, it's added the Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <link rel="stylesheet" href="./Content/logo.css">
    <!-- Hexagon Division -->
    <div style='position:relative;width:100px;margin:0 auto;'>
    <div class='one'></div>
    <div class='two'></div>
    <div class='three'></div>
</div>
    </a> 


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item active">
          <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home</a>
        </li>
       
       <li class="nav-item">
          <a class="nav-link" href="/about"> About Me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/projects"> Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services"> Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact"> Contact</a>
        </li>
  </div>
</nav>
